<div class="form-group">
    <label for="CPF">CPF</label>
    <input type="number" id="CPF" name="CPF" value= "<%= elem[0].CPF %>" readonly>
</div>
<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" value= "<%= elem[0].Nome %> " required>
</div>
<div class="form-group">
    <label for="ddn">Data de Nascimento</label>
    <input type="date" id="ddn" name="ddn" value= "<%= elem[0].ddn %>" required> 
</div>
<div class="form-group">
    <label for="salario">Salário</label>
    <input type="number" id="salario" name="salario" value= "<%= elem[0].Salario %>" required>
</div>
<div class="form-group">
    <label for="CLT">CLT</label>
    <input type="number" id="CLT" name="CLT" value= "<%= elem[0].CLT %>" required>
</div>
<div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" id="endereco" name="endereco" value= "<%= elem[0].Endereco %>" required>
</div>
<div class="form-group">
    <label for="banco">Banco</label>
    <input type="number" id="banco" name="banco" value= "<%= elem[0].Banco %>" required>
</div>
<div class="form-group">
    <label for="agencia">Agência</label>
    <input type="number" id="agencia" name="agencia" value= "<%= elem[0].Agencia %>" required>
</div>
<div class="form-group">
    <label for="conta">Conta</label>
    <input type="number" id="conta" name="conta" value= "<%= elem[0].Conta %>" required>
</div>
<div class="form-group">
    <label for="digito">Dígito</label>
    <input type="number" id="digito" name="digito" value= "<%= elem[0].Digito %>" required>
</div>