<div class="form-group">
    <input type="hidden" name="CPF">
    <label for="CPF">CPF</label>
    <input type="number" id="CPF" name="CPF" value= "<%= elem.CPF %>">
</div>
<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" value= "<%= elem.Nome %> ">
</div>
<div class="form-group">
    <label for="ddn">Data de Nascimento</label>
    <input type="date" id="ddn" name="ddn" value= "<%= elem.ddn %>" > 
</div>
<div class="form-group">
    <label for="salario">Salário</label>
    <input type="number" id="salario" name="salario" value= "<%= elem.Salario %>">
</div>
<div class="form-group">
    <label for="CLT">CLT</label>
    <input type="number" id="CLT" name="CLT" value= "<%= elem.CLT %>">
</div>
<div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" id="endereco" name="endereco" value= "<%= elem.Endereco %>">
</div>
<div class="form-group">
    <label for="banco">Banco</label>
    <input type="number" id="banco" name="banco" value= "<%= elem.Banco %>">
</div>
<div class="form-group">
    <label for="agencia">Agência</label>
    <input type="number" id="agencia" name="agencia" value= "<%= elem.Agencia %>">
</div>
<div class="form-group">
    <label for="conta">Conta</label>
    <input type="number" id="conta" name="conta" value= "<%= elem.Conta %>">
</div>
<div class="form-group">
    <label for="digito">Dígito</label>
    <input type="number" id="digito" name="digito" value= "<%= elem.Digito %>">
</div>